%h3= "#{user.name if user.name} Gists!"
= render "layouts/searchbar"
= render "layouts/tag_cloud", user: user

= render "results", user: user

%table
  %thead
    %tr
      %th Gist
      %th Tags
      %th Files
  %tbody

    - user.gists.each do |gist|
      %tr
        %td= gist.description || gist.gist_files.first.name
        %td
          = form_for gist, remote: true do |f|
            = f.text_field :tag_list, class: 'gist_tag_list'
            = f.hidden_field :id
            = f.submit 'save tags'
        %td
          - gist.gist_files.each do |file|
            = file.name
            %br
