%h4= "#{gists.count} Result(s)"

- gists.each do |gist|
  %div.result
    %header.gist-title
      = image_tag(gist.owner_avatar, class: "avatar-list")
      .title-block
        %h5
          = link_to gist.title, gist_path(gist)
        = render 'gists/date', gist: gist
      .gist-info= render 'gists/gist_details', gist: gist
    .tags
      %input.gist-input-tags(type="text" value="#{gist.tag_list}" data-gistid ="#{gist.id}")
    .bottom
      .description
        = auto_link(gist.description)
      .gist-actions
        %a.btn.btn-default.btn-xs{:href => "https://gist.github.com/#{gist.github_id}"}
          %i.fa.fa-github
          View in GitHub
        %a.btn.btn-default.btn-xs{:href => "https://gist.github.com/#{gist.github_id}/download"}
          %i.fa.fa-cloud-download
          Download
        %a.btn.btn-primary.btn-xs{:href => gist_path(gist)}
          %i.fa.fa-cloud-download
          Open
