%h3= "#{gists.count} Result(s)"

- gists.each do |gist|
  %div.result
    .gist-title
      %h5
        = image_tag(gist.owner_avatar, class: "avatar")
        = link_to gist.title, gist_path(gist)
    = render 'gists/info', gist: gist
    .tags
      %input.gist-input-tags(type="text" value="#{gist.tag_list}" data-gistid ="#{gist.id}")
    .description
      = gist.description
