<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Gist Genius" %>">
  <title><%= content_for?(:title) ? yield(:title) : "Gist Genius" %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" %>
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <%= yield %>
  <%= render "javascript" %>
</body>
</html>
